# ─── CONFIGURACIÓN ───────────────────────────────────────────────
TOKEN = "ACA TU TOKEN DE TELEGRAM"
HOJA = "Cajas"
EXCEL_PATH = "C:\Users\Gastos.xlsx"
EXCEL_PAGOS = "C:\Users\Pagos.xlsx"
CANTIDAD_ULTIMOS_MOVIMIENTOS = 5
RUBROS = "Aberturas, Agua, Aislantes, Base, Comida, Electricidad, Empleado, Estructura, Ferreteria, Fijaciones, Fletes, Galeria, Gas, Herramientas, Muebles, Pintura, Piso, Publicidad, Rev Ext, Rev Int, Techo, Varios, Viaticos, Zingueria"

# ─────────────────────────────────────────────────────────────────
